<p>vista team#index</p>
<br>
<br>
<div style="text-aligh:center" >
	<%=button_to 'Create Team', new_team_path, :method => :get %>
</div>
<br>
<br>
	
<table class="team_table">
	<tr>
		<th> Name </th>
		<th> Description </th>
		<th> Members </th>	
		<th> Company </th>
	</tr>
	<% @teams.each do |team|%>		
		<tr class="<%= cycle("list_line_odd", "list_line_even") %>">
			<td><%= team.name %></td>
			<td><%= team.description %></td>
			<td>To do Members</td>
			<td><%= team.company %></td>
			<%= link_to "edit", edit_team_path(team) %>
		</tr>
	<% end %>
</table>