<h3 class="bajo-hdr">Your <br><strong>Teams</strong>
<div>
	<%=button_to 'Create Team', new_team_path, :method => :get %>
</div></h3>

<table class="tables center">
	<tr>
		<th> Name </th>
		<th class="limitLength2"> Description </th>
		<th class="limitLength"> Members </th>	
		<th> Company </th>
		<th></th>
	</tr>
	<% @teams.each do |team|%>		
		<tr class="<%= cycle("list_line_odd", "list_line_even") %>">
			<td class="radius5"><%= team.name %></td>
			<td class="limitLength2 radius5"><%= truncate(team.description, length: 280) %></td>
			<td class="radius5">
				<% if team.members.count == 0 %>
					-----
				<% else %>
					<%= link_to "view #{team.members.count} members", team_members_path(:team_id => team.id) %>
				<% end %>
			</td>
			<td class="radius5"><%= team.company %></td>
			<td class="radius5">				
				<%= link_to "show", team_path(team) %><br/>
				<%= link_to "edit", edit_team_path(team) %><br/>
				<%= link_to "destroy", team, confirm: 'Are you sure?', method: :delete %><br/>
				<%= link_to "view members", team_members_path(:team_id => team.id) %>
			</td>
		</tr>
	<% end %>
</table>