<h3>teams#show</h3>

<p>
	<strong>Name: </strong>
	<%= @team.name %>
</p>

<p>
	<strong>Description: </strong>
	<%= @team.description %>
</p>

<p>
	<strong>Company: </strong>
	<%= @team.company %>
</p>

<p>
	<strong>Members: </strong>
		<%@team.members.each do |m|%>
			<%=link_to m.name + ",", team_member_path(@team, m) %>
		<%end%>
	
</p>
<br>
<br>
<%= button_to "Add New Member", new_team_member_path(:team_id => @team.id), :method => :get %> <br>
<%= button_to "Back To Teams", teams_path, :method => :get %> 

