<h1 class="center">Log in</h1>
<br>

<div class="sidedar large-4 columns left">&nbsp;</div>

<div class="large-4 columns">
	<%= form_tag sessions_path do %>
	  <p>
	    <%= label_tag :email %><br />
	    <%= text_field_tag :email, params[:email] %>
	  </p>
	  <p>
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password %>
	  </p>
	  <p class="button"><%= submit_tag "Log in" %></p>
	<% end %>
</div>