<%= image_tag "ofi6.jpg", :class => 'fotoPortada' %>
<br>
<h2 class="center up">Manage Your Team</h2>
<p class="center">Entry</p>
<h3 class="center"><%= link_to "Sign up", sign_up_path, :class => "center" %></h3>

	<div class="container1">
		
		<div class="container2">
			<p class="p_home">+¿Qué es Gesteam?</p>
			<p class="text_home">Gesteam nace para mejorar la integración de medios y comunicación
				 dentro de una empresa mediante equipos "Teams". Todo para mejorar la rapidez de interactuación
				 con los miembros que elijas en tus "Teams".</p>
		</div>
		<div class="container3">
			<%= image_tag "equipos1.jpg", :class => 'image_media' %>
		</div>
	</div>

	<div class="container1">
		
		<div class="container2">
		<p class="p_home">+¿Cómo utilizar Gesteam?</p>
			<p class="text_home">Gesteam es sencillo, rápido e intuitivo para que no gastes nada de 
													 tu tiempo en la gestión o configuración de "Teams". Nada más lejos
													 de la realidad, será entrar y gestionar desde el primer minuto.
													  No esperes más... REGISTRATE!!!</p>
		</div>
		<div class="container3">
			<%= image_tag "signup.jpeg", :class => 'image_media' %>
		</div>
	</div>

	<div class="container1">
		
		<div class="container2">
		<p class="p_home">+¿Qué puedo hacer con los equipos?</p>
			<p class="text_home">Pudes hacer un montón de cosas, como dejar mensajes a tu "Team", ver
													 sus adelantos, o simplemente subirles documentación que creas relevante
													  con sólo un click, sin perder tiempo en nada mas.</p>
		</div>
		<div class="container3">
			<%= image_tag "docus.jpg", :class => 'image_media' %>
		</div>
	</div>