<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>


  </head>

  <body class="<%= controller.controller_name %>">
    <header class = "app_header">
      <div class = "hdr-inner cl">
        <div class = "hdr-left">
          <span class = "hdr-brand"> <%= image_tag "gt6.png" %></span>
          
        </div>
        <div class = "hdr-right">
          <% if current_admin %>
            <p class = "logIn-as">Logged in as</p> <%= link_to current_admin.email, teams_path %>
            <%= link_to "Log out", log_out_path %>
          <% else %>
            <%= button_to "Sign up", sign_up_path, :method => :get, :class => "button [tiny small large]" %>
            <%= button_to "Log in", log_in_path, :method => :get, :class => "button [tiny small large]" %>
          <% end %>
        </div>
      </div>
    </header>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>