<div class="down-hdr thing"><h4>Your <br>Members by: <br><strong><%= @team.name %></strong></h4><br>
	<%= link_to "go my teams", teams_path %><br><br><%= link_to "Add Member", new_team_member_path(:team_id => @team.id) %></div>

<table class="tables centerm">
	<tr>
		<th> Name </th>
		<th> Email </th>
		<th> Incidences </th>	
		<th></th>
	</tr>
	<% @members.each do |member|%>		
		<tr class="<%= cycle("list_line_odd", "list_line_even") %>">
			<td class="radius5"><%= member.name %></td>
			<td class="radius5"><%= member.email %></td>
			<td class="radius5"><%= truncate(member.incidences, length: 25) %></td>
			<td class="radius5">				
				<%= link_to "show", team_member_path(member.team_id, member) %><br/>
				<%= link_to "edit", edit_team_member_path(member.team_id, member) %><br/>
				<%= link_to "destroy", team_member_path(member.team_id, member), confirm: 'Are you sure?', method: :delete %><br/>
			</td>

		</tr>
	<% end %>

</table>
