<h3>members#show</h3>
<h1>showing members</h1>
<br>
<br>
<br>
<br>
<h3>Name: <%= @member.name %></h3>
<h3>Email: <%= @member.email %></h3>
<h3>Incidences: <%= @member.incidences %></h3>
<br>
<h5>this is members#show</h5>
<br>
<%= link_to "back to members", team_members_path(@member.team_id) %>
<br>
<%= link_to "all teams", teams_path %>